#/////////////////////////////////////////////////////////////////////////////
# TDJ Projects
#/////////////////////////////////////////////////////////////////////////////

aside/
Camp/
jre1.8.0_161/
Face/
Magic/
Movie/
Music/

SAVES/
Shop/
Sprite/
TdjDataEditor/
tdjhelper/

#/////////////////////////////////////////////////////////////////////////////
# saves
#/////////////////////////////////////////////////////////////////////////////

*.GCF
*.GSF

#/////////////////////////////////////////////////////////////////////////////
# others
#/////////////////////////////////////////////////////////////////////////////

*.RAR
*.ZIP
*.EXE
*.XLSX
*.DOC
*.DOCX
*.LOG
*.CHM
*.bak
*.DLL
*.ASI
*.TXT
